<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <title>TODO LIST</title>
</head>
<body>
<div class="container">
  <a href="/todo/"><h1 style="margin-top: 50px;">{{ request.user.username }}'s TODO LIST 📝</h1></a>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">로그아웃</a>
{% endif %}
  <hr>
  <p>
    <div style="margin-top: 50px;"></div>
    <a href="/todo/today"><i class="bi-plus"></i><h4>→ Today's TODO LIST</h4></a>
  </p>
  <hr style="margin-top: 50px;">
  <h4 style="margin-top: 50px;">이전 날짜 TODO LIST</h4>
  <ul class="list-group">
    {% for date in dates %}
      <li class="list-group-item">
        <a href="/todo/list/{{date.strdate}}">{{ date.strdate }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

</body>
</html>